:root {
  --primary: #000622;
  --sekunder: #ffa31a;
}

* {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

#hamburger-menu {
  display: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: #12163a;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: bolder;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--sekunder);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--sekunder);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--sekunder);
  transform: scaleX(0);
  transition: 0.2s linear;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--sekunder);
}

#hamburger-menu {
  display: none;
}

/* Navbar search form */
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: var(--primary);
  color: var(--sekunder);
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  background-color: var(--primary);
  color: var(--sekunder);
  border: none;
  padding: 1rem;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: var(--sekunder);
}
.hero-slide {
  position: relative;
  overflow: hidden;
  margin: 120px 20px 0 20px;
  background-size: cover;
  background-color: #12163a;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  height: 520px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.hero-img {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.hero-img img.slide {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.hero-img img.active {
  opacity: 1;
}

.prev-slide {
  left: 20px;
}

.next-slide {
  right: 20px;
}

.prev-slide,
.next-slide {
  position: absolute;
  top: 50%;
  font-size: 26px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}

.prev-slide:hover,
.next-slide:hover {
  background-color: var(--sekunder);
  color: var(--primary);
  transform: translateY(-50%) scale(1.2);
  transition: all 0.3s ease;
  -webkit-transform: translateY(-50%) scale(1.2);
  -moz-transform: translateY(-50%) scale(1.2);
  -ms-transform: translateY(-50%) scale(1.2);
  -o-transform: translateY(-50%) scale(1.2);
}

.container-login {
  background-color: #171f3e;
  width: 350px;
  padding: 10px;
  margin: auto;
  box-shadow: 1px 1px 2.5px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  text-align: center;
}

.logo-login {
  text-align: center;
  margin: 8% 0 10px 0;
}

.logo-login a img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.container-login h2 {
  text-align: center;
  color: var(--sekunder);
  text-shadow: 1px 2px 1px black;
}

.input-login {
  border: none;
  margin: 10px 0;
  border-bottom: 2px solid rgba(201, 201, 201, 0.6);
  background: transparent;
  outline: none;
  width: 250px;
  color: var(--sekunder);
}
.container-login button {
  width: 25%;
  background-color: var(--sekunder);
  border: none;
  border-radius: 2.5px;
  cursor: pointer;
  color: #27325d;
  margin: 10px 0;
}

.container-login button:hover {
  background-color: darkorange;
}

.container-login a {
  color: var(--sekunder);
  font-size: 14px;
}

.container-login a span {
  color: #ffffff;
}

.garis-or {
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(201, 201, 201, 0.6);
  margin: 10px auto;
  width: 250px;
}

.garis-or::before,
.garis-or::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid gray;
}

.login-lain {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding-right: 12%;
}

.login-lain li {
  align-items: center;
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  float: left;
}

.login-lain li a img {
  width: 35px;
  height: 35px;
}

.clear-login {
  clear: both;
}

.game-section {
  margin: 20px 20px 0 20px;
  padding: 50px 20px;
  background-color: #12163a;
  text-align: center;
}

.game-section h2 {
  color: var(--sekunder);
  font-size: 32px;
  font-weight: bolder;
  margin-bottom: 30px;
  text-shadow: 1px 2px 3px black;
}

.game-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.game-card {
  background-color: #1e244d;
  border-radius: 15px;
  overflow: hidden;
  flex: 1 1 calc(25% - 20px);
  max-width: calc(25% - 20px);
  min-width: 150px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}
.game-card img {
  width: 25%;
  height: auto;
  object-fit: cover;
}

.game-card:hover {
  transform: scale(1.05);
}

.game-card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.game-card h3 {
  color: white;
  padding: 15px 10px;
  font-size: 18px;
}

.container-register {
  margin: 5% auto;
  color: var(--sekunder);
  text-align: center;
  width: 350px;
}

#registerForm {
  max-width: 400px;
  margin: 30px auto;
  padding: 30px;
  background-color: #12163a;
  color: #12163a;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.input-regiter {
  font-family: "poppins", sans-serif;
  font-weight: 300;
  background-color: #12163a;
  color: var(--sekunder);
  width: 100%;
  padding: 12px 15px;
  margin: 10px 0;
  font-size: 16px;
  border: 1px solid var(--sekunder);
  border-radius: 8px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  box-sizing: border-box;
}

.input-regiter:focus {
  border-color: var(--sekunder);
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

#registerForm button[type="submit"] {
  font-weight: 800;
  width: 100%;
  background-color: var(--sekunder);
  color: #fff;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
}

#registerForm button[type="submit"]:hover {
  background-color: var(--primary);
}

.register-lain li a {
  display: flex;
  align-items: center;
  border: 1px solid grey;
  margin: 0 auto;
  padding: 5px;
  justify-content: center;
  width: 350px;
  color: #000;
  background-color: rgba(201, 201, 201, 0.6);
  border-radius: 25px;
  gap: 10px;
  box-shadow: 2px 2px 3.5px #000;
}

.container-register p a {
  color: #ffffff;
}

.register-lain li a img {
  width: 35px;
  height: 35px;
}

.container-register a {
  color: #ffffff;
}

.container-register hr {
  border: none;
  border-top: 1px solid rgba(201, 201, 201, 0.6);
}

/* menu */
.container {
  max-width: 400px;
  margin: auto;
}

.card.id {
  margin-top: 120px;
  background: #1e2b45;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.card {
  margin-left: 20px;
  margin-right: 20px;
  background: #1e2b45;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.card h2 {
  font-size: 1rem;
  color: orange;
  margin-bottom: 10px;
}

.card p {
  font-size: 0.85rem;
  color: #ccc;
}

.input-idpemain {
  width: 98%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin-bottom: 10px;
  background: #2c3e50;
  color: white;
}

.topup-grid,
.payment-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.topup-item,
.payment-item {
  background: #2d3f5e;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  color: white;
  border: 1px solid #3e5780;
  cursor: pointer;
  transition: 0.2s;
}

.topup-item:hover,
.payment-item:hover {
  background-color: #3e5780;
}

.footer {
  background: #1e2b45;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.confirm-btn {
  background: orange;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.confirm-btn:hover {
  background: #f7a800;
}

/* transaksi */
.bd-transaksi {
  background-color: #0e1628;
  color: white;
  padding: 20px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-transaksi {
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.checkmark {
  z-index: 999;
  font-size: 90px;
  color: #00ff55;
  margin-top: 120px;
}

.success-text {
  font-size: 1.2rem;
  color: orange;
}

.amount {
  font-size: 2rem;
  color: orange;
  margin-bottom: 20px;
}

.details {
  text-align: left;
  background: #1e2b45;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.details p {
  margin: 10px 0;
  font-size: 0.95rem;
}

.details span {
  display: inline-block;
  width: 150px;
  font-weight: bold;
  color: orange;
}

.back-btn {
  display: block;
  width: 100%;
  background: orange;
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding: 12px;
  border-radius: 10px;
  transition: background 0.3s ease;
}

.back-btn:hover {
  background: #f7a800;
}

/* ==== RESPONSIVE DESIGN ==== */

@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
  .game-card {
    flex: 1 1 calc(33.33% - 20px); /* 3 kolom */
    max-width: calc(33.33% - 20px);
  }

  .topup-grid,
  .payment-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--primary);
    color: #ffffff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .navbar .search-form {
    width: 90%;
    background-color: var(--primary);
    right: 2rem;
  }

  .hero-img {
    height: 300px;
  }

  .caption {
    font-size: large;
    top: 90%;
  }

  .login-lain {
    flex-direction: column;
    gap: 10px;
  }

  .container-login,
  .container-register,
  .container-transaksi {
    width: 90%;
  }

  .game-card {
    flex: 1 1 calc(50% - 20px); /* 2 kolom */
    max-width: calc(50% - 20px);
  }
}

/* Mobile */
@media (max-width: 480px) {
  .game-card {
    flex: 1 1 100%; /* 1 kolom */
    max-width: 100%;
  }

  .hero-slide {
    height: 250px; /* fixed height untuk mobile */
    padding: 4px;
  }

  .hero-img {
    height: 100%;
    position: relative;
  }

  .hero-img img.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  .hero-img img.active {
    opacity: 1;
    z-index: 2;
  }

  .caption {
    font-size: 16px;
  }

  .container-login button {
    width: 50%;
  }

  .login-lain li {
    width: 40px;
    height: 40px;
  }

  .login-lain li a img,
  .register-lain li a img {
    width: 30px;
    height: 30px;
  }

  #registerForm {
    padding: 20px;
    margin: 20px;
  }

  .input-regiter {
    font-size: 14px;
  }
  .navbar-logo {
    font-size: 2rem;
  }

  .search-form {
    width: 90%;
    right: 1rem;
  }

  .container-login input,
  .input-regiter,
  .input-idpemain {
    width: 100%;
  }

  .container-login button,
  #registerForm .btn-register {
    width: 100%;
  }
  .game-section h2 {
    font-size: 2.4rem;
  }
}
